<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Início</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
<!--    <li class="nav-item" [ngClass]="{ 'active': attendance.isActive }">-->
<!--      <a class="nav-link" routerLink="/atendimento" routerLinkActive #attendance="routerLinkActive">-->
<!--        <span class="menu-title">Atendimento</span>-->
<!--        <i class="mdi mdi-calendar menu-icon"></i>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="nav-item" [ngClass]="{'active' : accordions.isActive || buttons.isActive || badges.isActive }">-->
<!--      <a class="nav-link" (click)="uiAnimalsCollapsed = !uiAnimalsCollapsed" [attr.aria-expanded]="uiAnimalsCollapsed" aria-controls="ui-basic">-->
<!--        <span class="menu-title">Animais</span>-->
<!--        <i class="menu-arrow"></i>-->
<!--        <i class="mdi mdi-note-plus menu-icon"></i>-->
<!--      </a>-->
<!--      <div class="collapse" id="ui-basic" [ngbCollapse]="!uiAnimalsCollapsed">-->
<!--        <ul class="nav flex-column sub-menu">-->
<!--          <li class="nav-item"> <a class="nav-link" routerLink="/raca" routerLinkActive="active" #accordions="routerLinkActive">Raça</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" routerLink="/vacina" routerLinkActive="active" #buttons="routerLinkActive">Vacinas</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" routerLink="/especie" routerLinkActive="active" #badges="routerLinkActive">Espécie</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </li>-->
    <li class="nav-item" [ngClass]="{'active' : userPerfil.isActive || userRegister.isActive }">
      <a class="nav-link" (click)="uiUsersCollapsed = !uiUsersCollapsed" [attr.aria-expanded]="uiUsersCollapsed" aria-controls="ui-usuario">
        <span class="menu-title">Usuário</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-account menu-icon"></i>
      </a>
      <div class="collapse" id="ui-usuario" [ngbCollapse]="!uiUsersCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/perfil" routerLinkActive="active" #userPerfil="routerLinkActive">Perfil</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/user" routerLinkActive="active" #userRegister="routerLinkActive">Cadastro</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
