<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Perfil</h4>
      <form class="form-sample">
        <p class="card-description">
          Dados Pessoais
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputUserName">Nome</label>
              <input type="text" class="form-control" id="inputUserName">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputUserEmail">E-mail</label>
              <input type="text" class="form-control" id="inputUserEmail">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
