<div class="container-scroller">
  <app-top *ngIf="showNavbar"></app-top>
  <div class="container-fluid page-body-wrapper">
    <app-menu *ngIf="showSidebar"></app-menu>
    <div class="main-panel" [ngClass]="{ 'main-panel-only' : !showSidebar }">
      <div class="content-wrapper">
<!--        <app-spinner *ngIf="isLoading"></app-spinner>-->
        <div contentAnimate *ngIf="!isLoading" class="h-100">
          <router-outlet></router-outlet>
        </div>
      </div>

      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <app-footer *ngIf="showFooter"></app-footer>
  <!-- page-body-wrapper ends -->
</div>

<app-loading></app-loading>
