<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center text-primary">Cadastro de Perfil</h4>
            <form class="forms-sample" [formGroup]="formGroup">
                <div class="form-group">
                    <label for="inputName">Nome</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Nome" formControlName="dsName">
                </div>
                <div class="form-group">
                    <label>Menus Liberados</label>
                    <nav class="sidebar-perfil sidebar-offcanvas" style="border: 1px solid black;">
                        <ul class="nav">
                            <div *ngFor="let menu of menuList; let first = first;">
                                <mat-divider *ngIf="!first"></mat-divider>
                                <li class="nav-item" >

                                    <div class="form-check form-check-primary" *ngIf="menu.menuList.length === 0">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                            {{menu.dsMenu}}
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                    <div *ngIf="menu.menuList.length > 0">
                                        <a class="nav-link" [attr.aria-expanded]="true" aria-controls="ui-usuario">
                                            <span class="menu-title">{{menu.dsMenu}}</span>
                                            <i class="menu-arrow"></i>
                                        </a>
                                        <div class="collapse" [ngbCollapse]="false">
                                            <ul class="nav flex-column sub-menu">
                                                <li class="nav-item" *ngFor="let menuChild of menu.menuList">
                                                    <div class="form-check form-check-primary">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input">
                                                            {{menuChild.dsMenu}}
                                                            <i class="input-helper"></i>
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </nav>
                </div>

                <app-buttons-actions-form textAction="Salvar" textCancel="Cancelar" (onClickAction)="addPerfil()" (onClickCancel)="cancel()" [disabledAction]="formGroup.invalid"></app-buttons-actions-form>

            </form>
        </div>
    </div>
</div>
